@using Razor.Models;
@model Product[]

@{
    ViewBag.Title = "DemoArray";
}

<h2>DemoArray</h2>

@if (Model.Length > 0)
{
    <table>
        <thead><tr><th>Product</th><th>Price</th></tr></thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No product data</h3>
}
